body {
     background-color: white;
     color: black;
     margin: 0px;
}

#wrapper {
     margin: 0px auto;
     width: 100%;
}

#header {
     background-color: #A600A6;
     height: 125px;
}

#content {
     font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 18px;
     margin: 0px auto;
     min-height: 300px;
     padding: 60px 10px 20px 10px;
     width: 750px;
}

#footer {
     background-color: #D25FD2;
     height: 50px;
     padding: 15px;
     font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: small;
}

.link {
     border-radius: 15px 15px 15px 15px;
     border-style: solid;
     font-family: 'Times New Roman',Times,serif;
     font-size: 30px;
     font-weight: bold;
     padding: 4px 25px 4px 27px;
     text-align: center;
}

#searchLink {
     left: 240px;
     position: absolute;
     top: 90px;
}

#insertLink {
     left: 400px;
     position: absolute;
     top: 90px;
}

#adviseLink {
     left: 600px;
     position: absolute;
     top: 90px;
}

#contactLink {
     left: 865px;
     position: absolute;
     top: 90px;
}

.link:link {
     color: black;
     text-decoration: none;
}

.link:active {
     color: black;
     text-decoration: none;
}

.link:visited {
     color: black;
     text-decoration: none;
}

.link:hover {
     background-color: #DAFB3F;
     text-decoration: none;
}

.inactive {
     background-color: white;
}

.active {
    background-color: #DAFB3F
}